Flow_Node_Red.json
[{"id":"879ebd2a.2a78c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2c7d608d.a2c2c","type":"comment","z":"879ebd2a.2a78c","name":"WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work","info":"\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.","x":350,"y":80,"wires":[]},{"id":"6bb33e04.7a762","type":"mqtt in","z":"879ebd2a.2a78c","name":"left/flash","topic":"left/flash","qos":"2","datatype":"auto","broker":"ed844881.6306a8","nl":false,"rap":true,"rh":0,"x":420,"y":240,"wires":[["d96eda5b.700348","da8f2db.2f568d"]]},{"id":"b203673f.685e68","type":"debug","z":"879ebd2a.2a78c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":520,"wires":[]},{"id":"f6c2fdd4.e009","type":"mqtt in","z":"879ebd2a.2a78c","name":"right/flash","topic":"right/flash","qos":"2","datatype":"auto","broker":"ed844881.6306a8","nl":false,"rap":true,"rh":0,"x":420,"y":300,"wires":[["d96eda5b.700348","96a38ae8.67fd38"]]},{"id":"9b32f931.539848","type":"mqtt in","z":"879ebd2a.2a78c","name":"alarm/data","topic":"alarm/data","qos":"2","datatype":"auto","broker":"ed844881.6306a8","nl":false,"rap":true,"rh":0,"x":420,"y":400,"wires":[["d6f561e8.42aad","ea4f819f.f69c5"]]},{"id":"6ff8e004.a1ab9","type":"mqtt in","z":"879ebd2a.2a78c","name":"brightness/data","topic":"brightness/data","qos":"2","datatype":"auto","broker":"ed844881.6306a8","nl":false,"rap":true,"rh":0,"x":440,"y":480,"wires":[["6afd0058.35df5","b537594.dc72ba8"]]},{"id":"d96eda5b.700348","type":"join","z":"879ebd2a.2a78c","name":"Server","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":910,"y":460,"wires":[["f58760d8.886a7","b203673f.685e68"]]},{"id":"f58760d8.886a7","type":"influxdb out","z":"879ebd2a.2a78c","influxdb":"5387d9ca.cfe9f8","name":"","measurement":"imu3","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1170,"y":460,"wires":[]},{"id":"ae9b31d8.32f79","type":"aedes broker","z":"879ebd2a.2a78c","name":"","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":870,"y":240,"wires":[[]]},{"id":"2963881e.f30128","type":"mqtt in","z":"879ebd2a.2a78c","name":"temperature/data","topic":"temperature/data","qos":"2","datatype":"auto","broker":"ed844881.6306a8","nl":false,"rap":true,"rh":0,"x":920,"y":740,"wires":[["2b38cf77.571b6","cd900617.83fee8"]]},{"id":"44a7b3e0.9daebc","type":"mqtt in","z":"879ebd2a.2a78c","name":"leftPoints/data","topic":"leftPoints/data","qos":"2","datatype":"auto","broker":"ed844881.6306a8","nl":false,"rap":true,"rh":0,"x":850,"y":320,"wires":[["d96eda5b.700348","40c34012.23e8a"]]},{"id":"228dae9f.70b9a2","type":"mqtt in","z":"879ebd2a.2a78c","name":"rightPoints/data","topic":"rightPoints/data","qos":"2","datatype":"auto","broker":"ed844881.6306a8","nl":false,"rap":true,"rh":0,"x":440,"y":560,"wires":[["d96eda5b.700348","9def6196.1cb5"]]},{"id":"346d0093.d55aa","type":"mqtt in","z":"879ebd2a.2a78c","name":"seat/data","topic":"seat/data","qos":"2","datatype":"auto","broker":"ed844881.6306a8","nl":false,"rap":true,"rh":0,"x":420,"y":680,"wires":[["1969591f.411287","ae2c7061.e1c3c"]]},{"id":"1a966a6b.c23136","type":"mqtt in","z":"879ebd2a.2a78c","name":"break/data","topic":"break/data","qos":"2","datatype":"auto","broker":"ed844881.6306a8","nl":false,"rap":true,"rh":0,"x":700,"y":740,"wires":[["d96eda5b.700348","de28870b.e40be8"]]},{"id":"da8f2db.2f568d","type":"ui_chart","z":"879ebd2a.2a78c","name":"","group":"354a2503.a9cbca","order":0,"width":0,"height":0,"label":"Left Flash","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":640,"y":240,"wires":[[]]},{"id":"6afd0058.35df5","type":"ui_gauge","z":"879ebd2a.2a78c","name":"","group":"354a2503.a9cbca","order":1,"width":0,"height":0,"gtype":"gage","title":"Brightness Data","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":460,"wires":[]},{"id":"2b38cf77.571b6","type":"change","z":"879ebd2a.2a78c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":600,"wires":[["d96eda5b.700348"]]},{"id":"b537594.dc72ba8","type":"change","z":"879ebd2a.2a78c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":500,"wires":[["d96eda5b.700348"]]},{"id":"1969591f.411287","type":"change","z":"879ebd2a.2a78c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":680,"wires":[["d96eda5b.700348"]]},{"id":"d6f561e8.42aad","type":"change","z":"879ebd2a.2a78c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":400,"wires":[["d96eda5b.700348"]]},{"id":"ea4f819f.f69c5","type":"ui_chart","z":"879ebd2a.2a78c","name":"","group":"354a2503.a9cbca","order":2,"width":0,"height":0,"label":"Alarm Data","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":650,"y":360,"wires":[[]]},{"id":"96a38ae8.67fd38","type":"ui_chart","z":"879ebd2a.2a78c","name":"","group":"354a2503.a9cbca","order":2,"width":0,"height":0,"label":"Right Flash","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":650,"y":300,"wires":[[]]},{"id":"cd900617.83fee8","type":"ui_gauge","z":"879ebd2a.2a78c","name":"","group":"354a2503.a9cbca","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature Data","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":820,"wires":[]},{"id":"de28870b.e40be8","type":"ui_chart","z":"879ebd2a.2a78c","name":"","group":"354a2503.a9cbca","order":2,"width":0,"height":0,"label":"Break Data","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":730,"y":820,"wires":[[]]},{"id":"40c34012.23e8a","type":"ui_chart","z":"879ebd2a.2a78c","name":"","group":"354a2503.a9cbca","order":2,"width":0,"height":0,"label":"Left Points Data","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1060,"y":300,"wires":[[]]},{"id":"ae2c7061.e1c3c","type":"ui_chart","z":"879ebd2a.2a78c","name":"","group":"354a2503.a9cbca","order":2,"width":0,"height":0,"label":"Seat Data","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":640,"y":620,"wires":[[]]},{"id":"9def6196.1cb5","type":"ui_chart","z":"879ebd2a.2a78c","name":"","group":"354a2503.a9cbca","order":2,"width":0,"height":0,"label":"Right Flash Points","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":670,"y":580,"wires":[[]]},{"id":"ed844881.6306a8","type":"mqtt-broker","name":"","broker":"192.168.1.10","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"5387d9ca.cfe9f8","type":"influxdb","hostname":"192.168.1.10","port":"8086","protocol":"http","database":"datab","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"354a2503.a9cbca","type":"ui_group","name":"Default","tab":"97a1727e.a644f","order":1,"disp":true,"width":"6","collapse":false},{"id":"97a1727e.a644f","type":"ui_tab","name":"Home1","icon":"dashboard","disabled":false,"hidden":false}]